on:
  push:
    branches:
    - main
name: Main Health

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Check the project
      uses: actions/setup-node@v1
      with:
        node-version: '16.15.1'

    - name: 'Dependencies'
      run: npm ci
    
    - name: 'Linter'
      run: npm run lint
    
    - name: 'Build'
      run: npm run build

    - name: 'Tests'
      run: npm run test:coverage 
